*{
    margin: 0;
    padding: 1;
   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#navegacao-principal {
    position: fixed;
    font-family: monospace;
    float: left;
    width: 100%;
    top: 0;
}

#menu-principal{
    list-style: none;
    padding: 0;
}

#menu-principal li{   
    background-color: rgb(12, 56, 201);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

#menu-principal li a{
    color: rgb(243, 247, 55);
    text-decoration: none;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    min-height: 5rem;   
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(rgb(207, 219, 207), green, blue, alpha);
}

.dropdown li{
    clear: both;
    width: 100%;
}

#menu-principal li:hover,
#menu-principal li:focus-within{
    background-color: rgb(161, 7, 7);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}


#menu-principal li a{
    color: rgb(198, 248, 16);
}

#menu-principal li:hover>ul,
#menu-principal li:focus-within>ul,
.dropdown li:hover,
.dropdown li:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}